.header-background {
  background-image: url('../../../images/header.png'); /* Update this path */
  background-size: cover; /* Make the image cover the entire area */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  width: 100%; /* Make sure it spans the full width */
  height: 100vh; /* Adjust the height as needed */
}
.heading-text {
  color:royalblue; /* Ensure text is visible over the background */
  text-align: center; /* Center the heading text */
  padding-top: 100px; /* Adjust padding to position the text */
  font-size: 60px;
  
 

}